# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

**/bin
dist
node_modules
nostrads-js/src/console/nostr-ads.js
nostrads-js/src/console/nostr-ads.js*
nostrads-js/src/nostrads-client.js
nostrads-js/src/nostrads-worker.js
nostrads-js/src/nostrads-client.js*
nostrads-js/src/nostrads-worker.js*
trash

